<div
    style="width: 550px;height: auto;border-radius: 5px;margin:0 auto;box-shadow: 0px 0px 20px #888888;position: relative;">
    <div
        style="background-image: url(https://cdn.jsdelivr.net/gh/soxft/cdn@1.0.1/commenttomail/pic.png);width:550px;height: 250px;background-size: cover;background-repeat: no-repeat;border-radius: 5px 5px 0px 0px;">
    </div>
    <div
        style="background-color:white;line-height:180%;padding:0 15px 12px;width:520px;margin:10px auto;color:#555555;font-family:'Century Gothic','Trebuchet MS','Hiragino Sans GB',微软雅黑,'Microsoft Yahei',Tahoma,Helvetica,Arial,'SimSun',sans-serif;font-size:12px;margin-bottom: 0px;">
        <h2 style="font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
            <span style="color: #ff7272;font-weight: bold;"></span>
            您的<a style="text-decoration:none;color: #ff7272;" href="{{permalink}}" target="_blank">
                《{{title}}》
            </a>有了新的回复:
        </h2>
        <div style="padding:0 12px 0 12px;margin-top:18px">
            <p><strong>{{author}}</strong>&nbsp;给您的评论: </p>
            <style type="text/css">
                .comment>img {
                    margin: 0px 6px 5px 6px;
                    width: 25px;
                }
            </style>
            <p class="comment"
                style="background-color: #f5f5f5;border: 0px solid #DDD;border-radius: 5px;padding: 10px 15px;margin:18px 0">
                {{text}}</p>
            <p>详细信息: </p>
            <p
                style="background-color: #f5f5f5;border: 0px solid #DDD;border-radius: 5px;padding: 10px 15px;margin:18px 0">
                IP: {{ip}}
                <br />
                邮箱: <a style="text-decoration:none;color: #ff7272;" href="mailto:{{mail}}">{{mail}}</a>
                <br />
                时间: {{time}}
                <br />
                状态: {{status}} [<a style="text-decoration:none;color: #ff7272;" href='{{manage}}'
                    target='_blank'>管理评论</a>]
            </p>
        </div>
    </div>
    <a style="text-decoration: none;color: rgb(255, 255, 255);width: 40%;text-align: center;background-color: rgb(255, 114, 114);height: 40px;line-height: 40px;box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);display: block;margin: auto;"
        href="{{permalink}}" target="_blank">查看回复的完整內容</a>
    <div
        style="color:#8c8c8c;;font-family: 'Century Gothic','Trebuchet MS','Hiragino Sans GB',微软雅黑,'Microsoft Yahei',Tahoma,Helvetica,Arial,'SimSun',sans-serif;font-size: 10px;width: 100%;text-align: center; padding-bottom: 1px;">
        <p>©2019-2020 Copyright {{siteTitle}}</p>
    </div>
</div>